@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;600;700&display=swap');
body{
  background: #23252b;
  font-family: 'Kanit', sans-serif;
}
:root{
  --color-gray-700: 116,136,153;
  --color-gray-800: 100,115,128;
  --color-background-200: 237,241,245;
}
.Container{
  background: #23252b;
}